#contenedorDados div{
    width: 100px;
    height: 100px;
    margin: 0.5em;
    display: inline-block;
    font-size: x-large;
}

.seleccionado{
    opacity: 0.65;
}

img{
    width: 100px;
}

a{
    text-decoration: none;
    color: black;
}